@{
    ViewBag.Title = "Omkring os";
}
<div style="margin-left:100px;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>DK TRØJER er Danmarks bedste shop til at købe danske fodboldtrøjer</p>
    <br />
    <p>Hos vores shop finder du et stort udvalg af danske fodboldtrøjer</p>
    <p>Vi har trøjer fra denne sæson, men der er primært gamle trøjer fra tidligere sæsoner</p>
    <br />
    <p>På hjemmesiden kan du se de trøjer vi har på lager, ved at <a href="/Home/BrowseTrøjer">klikke her</a></p>
</div>