@{
    ViewBag.Title = "Kontakt information";
}

<div style="margin-left:100px;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <address>
        Mandag-Fredag:  8-16<br />
        Lørdag:         10-14<br />
        Søndag:         Lukket<br />
        <br />
        <br />
        Bindslevsplads 1<br />
        Silkeborg, 8600<br />
        <abbr title="Telefonnummer">Telefonnummer</abbr>
        +45 50 59 17 18
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Alexsanderpiilchr@gmail.com">alexsanderpiilchr@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Tobiaswk55@gmail.com">tobiaswk55@gmail.com</a>
    </address>

</div>