@{
    ViewBag.Title = "Home Page";
}


<style>
    .my-col {
        border: 1px solid black;
        height: 400px;
    }

    .my-container {
        margin-top: 100px;
        width: 1200px;
    }

    .my-image {
        max-height: 390px;
        max-width: 300px;
        margin-top: 50px;
        margin-left: 30px;
    }
    a.dinmor:link, a:visited {
        background-color: white;
        color: black;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50px;
        width: 200px;
        border:black;
        border: 2px;
    }

    a.dinmor:hover, a:active {
        background-color: darkred;
    }


</style>


<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size:100px;">Populære trøjer</h1>
</div>
<div class="container my-container">
    <div class="row my-row">
        <div class="col-md-4 my-col">
            <h4>FC Midtjylland 17/18</h4>
            <img class="my-image" src="~/Images/FCM-17-17.jpg" />
        </div>
        <div class="col-md-4 my-col">
            <h4>Brøndby IF 18/19</h4>
            <img class="my-image" src="~/Images/Brøndby-18-19.jpg" />
        </div>
        <div class="col-md-4 my-col">
            <h4>Silkeborg IF 19/20</h4>
            <img class="my-image" src="~/Images/SIF-19-20.jpg" />
        </div>
    </div>
</div>
<br/>


    <a href="/Home/BrowseTrøjer" class="dinmor" style="margin-left:500px;"
>Se alle trøjer</a>


